<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hiyond.dao.mapper.UserMapper">
	<resultMap type="com.hiyond.entity.User" id="userMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="password" property="password" />
		<result column="last_login_time" property="lastLoginTime" />
		<result column="uuid" property="UUID" />
	</resultMap>

	<sql id="baseColumn">
		u.id,u.name,u.password,u.last_login_time,u.uuid
	</sql>

	<!-- 登录 -->
	<select id="loginUser" resultMap="userMap">
		SELECT
		<include refid="baseColumn"></include>
		FROM
		tb_user_info u
		WHERE
			u.name = #{user.name}
			AND u.password = #{user.password}
	</select>

	<insert id="insertUser">
		INSERT INTO
		tb_user_info
		(name, password,
		last_login_time, uuid)
		VALUES (
		#{user.name}, #{user.password},
		#{user.lastLoginTime},
		#{user.UUID});
	</insert>

	<update id="updateUserLoginTime">
		UPDATE tb_user_info SET
		<if test="user.lastLoginTime != null ">
			last_login_time = #{user.lastLoginTime,jdbcType=TIMESTAMP}
		</if>
		<where>
			name = #{user.name}
		</where>
	</update>

	<select id="findUserByName" resultType="int">
		SELECT
		count(*)
		FROM
		tb_user_info
		WHERE
		name = #{userName,jdbcType=VARCHAR}
	</select>
</mapper>